{% extends 'frontend/base.html' %}

{% block title %}GoReserve - Ajouter Restaurant{% endblock %}

{% block head %}
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
{% endblock %}

{% block content %}
{%load static%}
<div class="page-content-wrapper p-xxl-4">
    <link rel="stylesheet" type="text/css" href="{% static 'css/css_formulaireAjouterHotel.css' %}">
<div class="wrapper">
    <div>
        <h3>Restaurant</h3>
    </div>
    <div class="header">
        <ul>
            <li class="active form_1_progessbar">
                <div>
                    <p>1</p>
                </div>
            </li>
            <li class="form_2_progessbar">
                <div>
                    <p>2</p>
                </div>
            </li>
            <li class="form_3_progessbar">
                <div>
                    <p>3</p>
                </div>
            </li>
        </ul>
    </div>
    <div class="form_wrap">
        <form method="post" enctype="multipart/form-data" action="ajouterRestaurant">
			{% csrf_token %}
            <div class="form_1 data_info">
                <h4>Etape 1</h4>
                <div class="form_container">
                    <div class="input_wrap">
                        <label for="nom">Nom</label>
                        <input type="text" name="nom" class="input" id="nom" placeholder="nom du restaurant">
                    </div>
                    <div class="input_wrap">
                        <label for="description">Description</label>
                        <textarea name="description" id="description" cols="63" rows="4" placeholder="description du restaurant"></textarea>
                    </div>
                    <div class="input_wrap">
                        <label for="statut">Statut (étoiles)</label>
                        <select name="statut" class="input" id="statut">
                            <option value="0" selected>Aucune étoile</option>
                            <option value="1">⭐ 1 étoile</option>
                            <option value="2">⭐⭐ 2 étoiles</option>
                            <option value="3">⭐⭐⭐ 3 étoiles</option>
                            <option value="4">⭐⭐⭐⭐ 4 étoiles</option>
                            <option value="5">⭐⭐⭐⭐⭐ 5 étoiles</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form_2 data_info" style="display: none;">
                <h4>Etape 2</h4>
                <div class="form_container">
                    <div class="input_wrap">
                        <label for="adresse">Adresse</label>
                        <input type="text" name="adresse" class="input" id="adresse" placeholder="localisation du restaurant">
                    </div>
                    <div class="input_wrap">
                        <label for="ville">Ville</label>
                        <input type="text" name="ville" class="input" id="ville" placeholder="ville dans laquelle se trouve de restaurant">
                    </div>
                    <div class="input_wrap">
                        <label for="pays">Pays</label>
                        <select name="pays" class="input" id="pays">
                            <option value="" selected>Sélectionner un pays</option>
                            {% for country in pays %}
                                <option value="{{ country }}">{{ country }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="input_wrap">
                        <label for="coordonnees_tel">Coordonnées Téléphoniques</label>
                        <input type="text" name="coordonnees_tel" class="input" id="coordonnees_tel" placeholder="coordonnées téléphoniques de l'hôtel">
                    </div>
                </div>
            </div>
            <div class="form_3 data_info" style="display: none;">
                <h4>Etape 3</h4>
                <div class="form_container">
                    <div class="input_wrap">
                        <label for="nombre_de_tables">Nombre de tables</label>
                        <input type="text" name="nombre_de_tables" class="input" id="nombre_de_tables" placeholder="Nombre total de tables">
                    </div>
                    <div class="input_wrap">
                        <label for="images">Image(s)</label>
                        <input type="file" accept="image/*" name="images" class="input" id="images" multiple>
                    </div>
                </div>
            </div>
            <div class="btns_wrap">
                <div class="common_btns form_1_btns">
                    <button type="button" class="btn_next">Suivant <span class="icon"><ion-icon name="arrow-forward-sharp"></ion-icon></span></button>
                </div>
                <div class="common_btns form_2_btns" style="display: none;">
                    <button type="button" class="btn_back"><span class="icon"><ion-icon name="arrow-back-sharp"></ion-icon></span>Précédent</button>
                    <button type="button" class="btn_next">Suivant <span class="icon"><ion-icon name="arrow-forward-sharp"></ion-icon></span></button>
                </div>
                <div class="common_btns form_3_btns" style="display: none;">
                    <button type="button" class="btn_back"><span class="icon"><ion-icon name="arrow-back-sharp"></ion-icon></span>Précédent</button>
                    <button type="submit" class="btn_done">Enregistrer</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript" src="{% static 'js/js_formulaireAjouterHotel.js' %}"></script>
</div>
{% endblock %}