{% extends 'frontend/base.html' %}

{% block title %}GoReserve - Liste Restaurant{% endblock %}

{% block head %}
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
{% endblock %}

{% block content %}
{%load static%}
<link rel="stylesheet" type="text/css" href="{% static 'css/css_style_listeHotel.css' %}">
{% if messages %}
    <div class="alert alert-success" role="alert" style="width:91%; margin-left:12px;text-align:center;font-size:18px;">
        {% for message in messages %}
            {{ message }}
        {% endfor %}
    </div>
{% endif %}
{% for resto in restaurants_with_min_price %}
<div class="col-xl-11 col-xxl-9" style="margin-bottom: 50px; margin-top:20px; margin-left:10px;">
    <div class="vstack gap-4">
        <!-- Card item START -->
        <div class="card shadow p-2">
            <div class="row g-0">
                <!-- Card img -->
                <div class="col-md-5">
                    <img src="static/media/{{resto.restaurant.photo}}" class="card-img rounded-2" alt="Card image">
                </div>

                <!-- Card body -->
                <div class="col-md-7">
                    <div class="card-body py-md-2 d-flex flex-column h-100">

                        <!-- Rating and buttons -->
                        <div class="d-flex justify-content-between align-items-center">
                            <ul class="list-inline mb-0">
                                
                                    <!-- Boucle sur les étoiles -->
                                    {% for _ in resto.restaurant.afficher_etoiles %}
                                        <span class="etoile">⭐</span>
                                    {% endfor %}
                                

                            </ul>

                            <ul class="list-inline mb-0 z-index-2">
                                <!-- Heart icon 
                                <li class="list-inline-item">
                                    <a href="#" class="btn btn-sm btn-round btn-light"><i class="fa-solid fa-fw fa-heart"></i></a>
                                </li>-->
                                <!-- Share icon -->
                                <div class="list-inline-item dropdown">
                                    <!-- Dropdown button -->
                                    <a href="#" class="btn btn-sm btn-round btn-light" role="button" id="dropdownAction1" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="bi bi-three-dots-vertical"></i>
                                    </a>
                                    <!-- dropdown items -->
                                    <ul class="dropdown-menu dropdown-menu-end min-w-auto shadow rounded small" aria-labelledby="dropdownAction{{ resto.restaurant.id }}">
                                        <li><a class="dropdown-item edit" href="{% url "modifierRestaurant" restaurant_id=resto.restaurant.id %}"><i class="bi bi-pencil-square fa-fw me-2"></i>Modifier</a></li>
                                        <a class="dropdown-item delete" href="#" data-bs-toggle="modal" data-bs-target="#deleteModal{{ resto.restaurant.id }}"><i class="bi bi-slash-circle me-2"></i>Supprimer</a>
                                    </ul>
                                </div>
                                <li class="list-inline-item dropdown">
                                    <!-- Share button -->
                                    <a href="#" class="btn btn-sm btn-round btn-light" role="button" id="dropdownShare2" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="fa-solid fa-fw fa-share-alt"></i>
                                    </a>
                                    <!-- dropdown button -->
                                    <ul class="dropdown-menu dropdown-menu-end min-w-auto shadow rounded" aria-labelledby="dropdownShare2">
                                        <li><a class="dropdown-item" href="#"><i class="fab fa-twitter-square me-2"></i>Twitter</a></li>
                                        <li><a class="dropdown-item" href="#"><i class="fab fa-facebook-square me-2"></i>Facebook</a></li>
                                        <li><a class="dropdown-item" href="#"><i class="fab fa-linkedin me-2"></i>LinkedIn</a></li>
                                        <li><a class="dropdown-item" href="#"><i class="fa-solid fa-copy me-2"></i>Copy link</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="modal fade" id="deleteModal{{ resto.restaurant.id }}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"  aria-labelledby="deleteModalLabel{{resto.restaurant.id }}" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="deleteModalLabel{{ resto.restaurant.id }}">Suppression : {{ resto.restaurant.nom}}</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <p style="font-size : 19px;">cette action sera irréversible et entrainera la supression de tous les données liée a ce restaurant(photos, menus, ...). Êtes-vous sûr de vouloir supprimer ce restaurant ?</p>
                                    </div>
                                    <div class="modal-footer">
                                    <button type="button" class="btn btn-success-confirm"><a href="{% url "supprimerRestaurant" restaurant_id=resto.restaurant.id %}">Confirmer</a></button>
                                    <button type="button" class="btn btn-danger-cancel" data-bs-dismiss="modal">Annuler</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Title -->
                        <h5 class="card-title mb-1"><a href="{% url "detailRestaurant" resto.restaurant.id%}"></a>{{resto.restaurant.nom}}</h5>
                        <small><i class="bi bi-geo-alt me-2"></i>{{resto.restaurant.adresse}}</small>
                        <!-- Amenities -->
                        <ul class="nav nav-divider mt-3">
                            <li class="nav-item">Air Conditioning</li>
                            <li class="nav-item">Wifi</li>
                            <li class="nav-item">Kitchen</li>
                            <li class="nav-item">Pool</li>
                        </ul>

                        <!-- List -->
                        <ul class="list-group list-group-borderless small mb-0 mt-2">
                            <li class="list-group-item d-flex text-danger p-0">
                                <i class="bi bi-patch-check-fill me-2"></i>Non Refundable
                            </li>
                        </ul>
                        
                        <!-- Price and Button -->
                        <div class="d-sm-flex justify-content-sm-between align-items-center mt-3 mt-md-auto">
                            <!-- Button -->
                            {% for restaurant_info in restaurants_with_min_price %}
                                <div class="d-flex align-items-center">
                                    <h6 class="mb-0 me-1">
                                        {% if restaurant_info.min_price is not None %}
                                            <p>A partir de : <span style="font-size: 19px;">{{ restaurant_info.min_price }}</span> F CFA /<small>plat principal</small></p>
                                        {% elif not restaurant_info.has_any_menu %}
                                            <p>Aucun Menu disponible</p>
                                        {% endif %}
                                    </h6>
                                    <span class="mb-0 me-2"></span>
                                </div>
                            {% endfor %}
                           
                            <!-- Price -->
                            <div class="mt-3 mt-sm-0">
                                <a href="{% url "detailRestaurant" resto.restaurant.id%}" class="btn btn-sm btn-dark mb-0 w-100">Voir detail</a>    
                            </div>                  
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
</div>
<!-- Card item END -->
{% endfor %}
{% endblock %}