{% extends 'frontend/Users/user-base-admin.html' %}

{% block title %}GoReserve - Ajouter chambre{% endblock %}

{% block head %}
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
{% endblock %}

{% block content %}
{%load static%}
<div class="page-content-wrapper p-xxl-4">
    <link rel="stylesheet" type="text/css" href="{% static 'css/css_formulaireAjouterChambre.css' %}">
<div class="wrapper card shadow">
    <div>
        <h3>Ajouter Chambre</h3>
    </div>
    <div class="header">
        <ul>
            <li class="active form_1_progessbar">
                <div>
                    <p>1</p>
                </div>
            </li>
            <li class="form_2_progessbar">
                <div>
                    <p>2</p>
                </div>
            </li>
            <li class="form_3_progessbar">
                <div>
                    <p>3</p>
                </div>
            </li>
        </ul>
    </div>
    <div class="form_wrap">
        <form method="post" enctype="multipart/form-data" action="user-admin-ajouterChambre">
			{% csrf_token %}
            <div class="form_1 data_info">
                <h4>Etape 1</h4>
                <div class="form_container">
                    <div class="input_wrap">
                        <label for="nom" class="form-label">Nom :</label>
                        <input type="text" id="nom" name="nom" class="form-control" required><br><br>
                    </div>
                    <div class="input_wrap">
                        <label for="description" class="form-label">Description</label>
                        <textarea name="description" id="description" class="form-control" cols="63" rows="4" placeholder="" required></textarea>
                    </div>
                    <div class="input_wrap">
                        <label for="hotel" class="form-label">Hôtel :</label>
                        <select id="hotel" name="hotel" required class="form-select js-choice" data-search-enabled="true">
                            {% for hotel in hotels %}
                                <option value="{{ hotel.id }}">{{ hotel.nom }}</option>
                            {% endfor %}
                        </select><br><br>
                    </div>
                </div>
            </div>
            <div class="form_2 data_info" style="display: none;">
                <h4>Etape 2</h4>
                <div class="form_container">
                    <div class="input_wrap">
                        <label for="type_de_chambre" class="form-label">Type de Chambre :</label>
                        <select id="type_de_chambre" name="type_de_chambre" class="form-select js-choice" data-search-enabled="true" required>
                            <option value="simple">Simple</option>
                            <option value="double">Double</option>
                            <option value="suite">Suite</option>
                        </select><br><br>
                    </div>
                    <div class="input_wrap">
                        <label for="surface"class="form-label">Surface (m²) :</label>
                        <input type="number" step="0.01" id="surface" name="surface" class="form-control" required><br><br>
                    </div>
                    <div class="input_wrap">
                        <label for="tarif_par_nuit" class="form-label">Tarif de chambre par jour :</label>
                        <input type="number" step="0.01" id="tarif_par_nuit" name="tarif_par_nuit" class="form-control" required><br><br>
                    </div>
                    <div class="input_wrap">
                        <label for="tarif_reservation_par_jour" class="form-label">Tarif de reservation par jour :</label>
                        <input type="number" step="0.01" id="tarif_reservation_par_jour" name="tarif_reservation_par_jour" class="form-control" required><br><br>
                    </div>
                    
                </div>
            </div>
            <div class="form_3 data_info" style="display: none;">
                <h4>Etape 3</h4>
                <div class="form_container">
                    <div class="input_wrap">
                        <label for="emplacement" class="form-label">Emplacement :</label>
                        <select id="emplacement" name="emplacement" class="form-select js-choice" data-search-enabled="true" required >
                            <option value="1">1er étage</option>
                            <option value="2">2ème étage</option>
                            <option value="3">3ème étage</option>
                            <option value="4">4ème étage</option>
                            <option value="5">5ème étage</option>
                        </select><br><br>
                    </div>
                    <div class="input_wrap">
                        <label for="images" class="form-label">Image(s)</label>
                        <input type="file" accept="image/*" name="images" required class="form-control" id="images" multiple>
                    </div>
                    <div class="input_wrap" id="divRadio">
                        <label for="vue_sur_mer" >Vue sur Mer :</label>
                        <div id="radio">
                            <input type="radio" id="vue_sur_mer_oui" name="vue_sur_mer" value="oui" class="input">
                            <label for="vue_sur_mer_oui" style="color: black;">Oui</label><br>
                            <input type="radio" id="vue_sur_mer_non" name="vue_sur_mer" value="non" class="input">
                            <label for="vue_sur_mer_non" style="color: black;">Non</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="btns_wrap">
                <div class="common_btns form_1_btns">
                    <button type="button" class="btn_next">Suivant <span class="icon"><ion-icon name="arrow-forward-sharp"></ion-icon></span></button>
                </div>
                <div class="common_btns form_2_btns" style="display: none;">
                    <button type="button" class="btn_back"><span class="icon"><ion-icon name="arrow-back-sharp"></ion-icon></span>Précédent</button>
                    <button type="button" class="btn_next">Suivant <span class="icon"><ion-icon name="arrow-forward-sharp"></ion-icon></span></button>
                </div>
                <div class="common_btns form_3_btns" style="display: none;">
                    <button type="button" class="btn_back"><span class="icon"><ion-icon name="arrow-back-sharp"></ion-icon></span>Précédent</button>
                    <button type="submit" class="btn_done">Enregistrer</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript" src="{% static 'js/js_formulaireAjouterChambre.js' %}"></script>
</div>
{% endblock %}