{% extends 'frontend/Users/user-base-admin.html' %}

{% block title %}GoReserve - Detail hôtel{% endblock %}

{% block head %}
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
{% endblock %}

{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/css_style_detailHotel.css' %}">
<!-- =======================
Main Title START -->
<section class="py-0 pt-sm-5">
	<div class="container position-relative">
		<!-- Title and button START -->
		<div class="row mb-3">
			<div class="col-12">
				<!-- Meta -->
				<div class="d-lg-flex justify-content-lg-between mb-1">
					<!-- Title -->
					<div class="mb-2 mb-lg-0">
						<h1 class="fs-2">{{hotel.nom}}</h1>
						<!-- Location -->
						<p class="fw-bold mb-0"><i class="bi bi-geo-alt me-2"></i>{{hotel.adresse}}
							<a href="#" class="ms-2 text-decoration-underline" data-bs-toggle="modal" data-bs-target="#mapmodal">
								<i class="bi bi-eye-fill me-1"></i>View On Map
							</a>
						</p>
					</div>
					<div class="row">
						<div class="col-12 mb-4 mb-sm-5">
							
								<a href="#" class="btn btn-red-soft text-nowrap mb-0" data-bs-toggle="modal" data-bs-target="#staticBackdrop"><i class="fa fa-ban" aria-hidden="true"></i> Supprimer hôtel</a>							
								<a href="{% url "user-admin-modifierHotel" hotel.id%}" class="btn btn-primary-soft text-nowrap mb-0"><i class="bi bi-pencil-square fa-fw"></i> Modifier hôtel</a>
								<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
									<div class="modal-dialog modal-dialog-centered">
									<div class="modal-content">
										<div class="modal-header">
										<h1 class="modal-title fs-5" id="staticBackdropLabel">Suppression : {{hotel.nom}}</h1>
										<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
										</div>
										<div class="modal-body">
											<p style="font-size : 19px;">cette action sera irréversible et entrainera la supression de tous les données liée a cet hôtel(photos, chambres, ...). Êtes-vous sûr de vouloir supprimer cet hôtel ?</p>
										</div>
										<div class="modal-footer">
										<button type="button" class="btn btn-success-confirm"><a href="{% url "user-admin-supprimerHotel" hotel.id %}">Confirmer</a></button>
										<button type="button" class="btn btn-danger-cancel" data-bs-dismiss="modal">Annuler</button>
										</div>
									</div>
									</div>
								</div>
							</div>
						</div>
					<!-- Buttons -->
					<ul class="list-inline text-end">
						<!-- Heart icon -->
						<!--<li class="list-inline-item">
							<a href="#" class="btn btn-sm btn-light px-2"><i class="fa-solid fa-fw fa-heart"></i></a>
						</li>-->
						<!-- Share icon -->
						<li class="list-inline-item dropdown">
							<!-- Share button -->
							<a href="#" class="btn btn-sm btn-light px-2" role="button" id="dropdownShare" data-bs-toggle="dropdown" aria-expanded="false">
								<i class="fa-solid fa-fw fa-share-alt"></i>
							</a>
							<!-- dropdown button -->
							<ul class="dropdown-menu dropdown-menu-end min-w-auto shadow rounded" aria-labelledby="dropdownShare">
								<li><a class="dropdown-item" href="#"><i class="fab fa-twitter-square me-2"></i>Twitter</a></li>
								<li><a class="dropdown-item" href="#"><i class="fab fa-facebook-square me-2"></i>Facebook</a></li>
								<li><a class="dropdown-item" href="#"><i class="fab fa-linkedin me-2"></i>LinkedIn</a></li>
								<li><a class="dropdown-item" href="#"><i class="fa-solid fa-copy me-2"></i>Copy link</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- Title and button END -->

		<!-- Alert box START -->
		<!--<div class="alert alert-danger alert-dismissible d-flex justify-content-between align-items-center fade show mb-4 rounded-3 pe-2" role="alert">
			<div class="d-flex">
				<span class="alert-heading h5 mb-0 me-2"><i class="bi bi-exclamation-octagon-fill"></i></span>
				<span><strong class="alert-heading me-2">Covid Policy:</strong>You may require to present an RT-PCR negative test report at the hotel</span>
			</div>
				<button type="button" class="btn btn-link text-primary-hover pb-0 text-end" data-bs-dismiss="alert" aria-label="Close"><i class="bi bi-x-lg"></i></button>
		</div>-->
		<!-- Alert box END -->
	</div>
</section>
<!-- =======================
Main Title END -->

<!-- =======================
Image gallery START -->
<section class="card-grid pt-0">
	<div class="container">
		<div class="row g-2">
			<!-- Image -->
			{% if photos|length >= 1 %}
				{% with photo=photos.0 %}
				<div class="col-md-6">
				<a data-glightbox="" data-gallery="gallery" href="{% static 'media/' %}{{ photo.image }}">
					<div class="card card-grid-lg card-element-hover card-overlay-hover overflow-hidden" style="background-image:url('{% static 'media/' %}{{ photo.image }}'); background-position: center left; background-size: cover;">
						<!-- Card hover element -->
						<div class="hover-element position-absolute w-100 h-100">
							<i class="bi bi-fullscreen fs-6 text-white position-absolute top-50 start-50 translate-middle bg-dark rounded-1 p-2 lh-1"></i>
						</div>
					</div>
				</a>
			</div>
				{% endwith %}
			{% endif %}
			
			
		<div class="col-md-6">
			<!-- Card item START -->
			<div class="row g-2"> 
				<!-- Image -->
			{% if photos|length >= 2 %}
				{% with photo=photos.1 %}
						<div class="col-12">
							<a data-glightbox data-gallery="gallery" href="{% static 'media/' %}{{ photo.image }}">
								<div class="card card-grid-sm card-element-hover card-overlay-hover overflow-hidden" style="background-image:url('{% static 'media/' %}{{ photo.image }}'); background-position: center left; background-size: cover;">
									<!-- Card hover element -->
									<div class="hover-element position-absolute w-100 h-100">
										<i class="bi bi-fullscreen fs-6 text-white position-absolute top-50 start-50 translate-middle bg-dark rounded-1 p-2 lh-1"></i>
									</div>
								</div>
							</a>		
						</div>
				{% endwith %}
			{% endif %}
					
			{% if photos|length >= 3 %}
				{% with photo=photos.2 %}
					<!-- Image -->
					<div class="col-md-6">
						<a data-glightbox data-gallery="gallery" href="{% static 'media/' %}{{ photo.image }}">
                            <div class="card card-grid-sm card-element-hover card-overlay-hover overflow-hidden" style="background-image:url('{% static 'media/' %}{{ photo.image }}'); background-position: center left; background-size: cover;">
								<!-- Card hover element -->
								<div class="hover-element position-absolute w-100 h-100">
									<i class="bi bi-fullscreen fs-6 text-white position-absolute top-50 start-50 translate-middle bg-dark rounded-1 p-2 lh-1"></i>
								</div>
							</div>
						</a>	
					</div>
				{% endwith %}
			{% endif %}

					<!-- Images -->
					<div class="col-md-6">
						{% if photos|length >= 4 %}
							{% with photo=photos.3 %}
								<div class="card card-grid-sm overflow-hidden" style="background-image:url('{% static 'media/' %}{{ photo.image }}'); background-position: center left; background-size: cover;">
									<!-- Background overlay -->
									<div class="bg-overlay bg-dark opacity-7"></div>

									<!-- Popup Images -->
									<a data-glightbox data-gallery="gallery" href="{% static 'media/' %}{{ photo.image }}" class="stretched-link z-index-9"></a>
									{% if photos|length >= 5 %}
										{% for photo in photos %}
											{% if forloop.counter >= 5 %}
												<a data-glightbox data-gallery="gallery" href="{% static 'media/' %}{{ photo.image }}"></a>
											{% endif %}
										{% endfor %}
									
										<!-- Overlay text -->
										<div class="card-img-overlay d-flex h-100 w-100">
											<h6 class="card-title m-auto fw-light text-decoration-underline"><a href="#" class="text-white">View all</a></h6>
										</div>
									{% endif %}
								</div>
							{% endwith %}
						{% endif %}
					</div>
				</div>
				<!-- Card item END -->
			</div>
		</div>
	</div>
</section>
<!-- =======================
Image gallery END -->

<!-- =======================
About hotel START -->
<section class="pt-0">
	<div class="container" data-sticky-container>

		<div class="row g-4 g-xl-5">
			<!-- Content START -->
			<div class="col-xl-7 order-1">
				<div class="vstack gap-5">

					<!-- About hotel START -->
					<div class="card bg-transparent">
						<!-- Card header -->
						<div class="card-header border-bottom bg-transparent px-0 pt-0">
							<h3 class="mb-0">A Propos De Cet Hôtel</h3>
						</div>

						<!-- Card body START -->
						<div class="card-body pt-4 p-0">
							<p class="mb-6">{{hotel.description}}</b></p>
							<div style="display: flex;">
								<i class="fa-solid fa-city me-2"></i>
								<h6 class="mb-3">Ville : <span style="font-weight: normal; margin-left:10px;" >{{hotel.ville}}</span></h6>
							</div>
							<div style="display: flex;">
								<i class="fa-regular fa-flag me-2"></i>
								<h6 class="mb-3">Pays : <span style="font-weight: normal; margin-left:10px;" >{{hotel.pays}}</span></h6>
							</div>
							<div style="display: flex;">
								<i class="fa-regular fa-star me-2"></i>
								<h6 class="mb-3">Statut : 
									<span style="font-weight: normal; margin-left:10px;" >
										{% if hotel.afficher_etoiles|length > 1 %}
											{% for _ in hotel.afficher_etoiles %}
												<span class="etoile">⭐</span>
											{% endfor %}
										{% else %}
											Aucun
										{% endif %}
									</span>
								</h6>
							</div>
							<div style="display: flex;">
								<i class="fa-solid fa-house me-2"></i>
								<h6 class="mb-3">Nombre de chambres : <span style="font-weight: normal; margin-left:10px;" >{{hotel.nombre_de_chambres}}</span></h6>
							</div>
							<div style="display: flex;">
								<i class="fa-solid fa-phone me-2"></i>
								<h6 class="mb-3">Téléphone : <span style="font-weight: normal; margin-left:10px;" >{{hotel.coordonnees_tel}}</span></h6>
							</div>
							{% if chambre_avec_prix_minimal %}
								<div class="hstack gap-2 mt-4">
									<h5 class="fw-normal mb-0" style="font-size : 22px;">A partir de : <span style="color: rgb(22, 177, 22);font-size:26px;">{{chambre_avec_prix_minimal.tarif_par_nuit}} F CFA</span></h3>
									<span style="font-size: 19px;"> / par nuit</span>
								</div>
							{% endif %}
								<!-- Highlights Icons -->
							<!--<div class="hstack gap-3 mb-3">
								<div class="icon-lg bg-light h5 rounded-2" data-bs-toggle="tooltip" data-bs-placement="top" title="Free wifi">
									<i class="fa-solid fa-wifi"></i>
								</div>
								<div class="icon-lg bg-light h5 rounded-2" data-bs-toggle="tooltip" data-bs-placement="top" title="Swimming Pool">
									<i class="fa-solid fa-swimming-pool"></i>
								</div>
								<div class="icon-lg bg-light h5 rounded-2" data-bs-toggle="tooltip" data-bs-placement="top" title="Central AC">
									<i class="fa-solid fa-snowflake"></i>
								</div>
								<div class="icon-lg bg-light h5 rounded-2" data-bs-toggle="tooltip" data-bs-placement="top" title="Free Service">
									<i class="fa-solid fa-concierge-bell"></i>
								</div>
							</div>-->

							
							<!--<p class="mb-0">Delivered dejection necessary objection do Mr prevailed. Mr feeling does chiefly cordial in do. Water timed folly right aware if oh truth. Large above be to means. Dashwood does provide stronger is.</p>
							
							<div class="collapse" id="collapseContent">
								<p class="mb-0">Behavioral psychology and influence triggers which are crucial for becoming a well rounded Digital Marketer. We understand that theory is important to build a solid foundation, we understand that theory alone isn't going to get the job done so that's why this tickets is packed with practical hands-on examples that you can follow step by step.</p>
							</div>
							<a class="p-0 mb-4 mt-2 btn-more d-flex align-items-center collapsed" data-bs-toggle="collapse" href="#collapseContent" role="button" aria-expanded="false" aria-controls="collapseContent">
								See <span class="see-more ms-1">more</span><span class="see-less ms-1">less</span><i class="fa-solid fa-angle-down ms-2"></i>
							</a>-->

							<!-- List -->
							<!--<h5 class="fw-light mb-2">Advantages</h5>
							<ul class="list-group list-group-borderless mb-0">
								<li class="list-group-item h6 fw-light d-flex mb-0"><i class="bi bi-patch-check-fill text-success me-2"></i>Every hotel staff to have Proper PPT kit for COVID-19</li>
								<li class="list-group-item h6 fw-light d-flex mb-0"><i class="bi bi-patch-check-fill text-success me-2"></i>Every staff member wears face masks and gloves at all service times.</li>
								<li class="list-group-item h6 fw-light d-flex mb-0"><i class="bi bi-patch-check-fill text-success me-2"></i>Hotel staff ensures to maintain social distancing at all times.</li>
								<li class="list-group-item h6 fw-light d-flex mb-0"><i class="bi bi-patch-check-fill text-success me-2"></i>The hotel has In-Room Dining options available </li>
							</ul>-->
						</div>
						<!-- Card body END -->
					</div>
					<!-- About hotel START -->

					<!-- Amenities START -->
					<!-- Card header -->
					{% for prestation in prestations %}
						{% if prestation %}
						<div class="card-header border-bottom bg-transparent px-0 pt-0 d-flex justify-content-between align-items-center mt-6" style="width:889px">
							<h3 class="mb-0">Prestations</h3>
							<div>
								<a href="#" class="btn btn-red-soft text-nowrap mb-0" data-bs-toggle="modal" data-bs-target="#staticBackdropPrestations">
									<i class="fa fa-ban" aria-hidden="true"></i> Supprimer prestations
								</a>							
								<a href="{% url 'user-admin-modifierPrestationHotel' hotel.id %}" class="btn btn-primary-soft text-nowrap mb-0">
									<i class="bi bi-pencil-square fa-fw"></i> Modifier prestations
								</a>
								<div class="modal fade" id="staticBackdropPrestations" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
									<div class="modal-dialog modal-dialog-centered">
									<div class="modal-content w-100">
										<div class="modal-header">
										<h1 class="modal-title fs-5" id="staticBackdropLabel">Suppression : Prestations de l'hôtel {{hotel.nom}}</h1>
										<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
										</div>
										<div class="modal-body">
											<p style="font-size : 19px;">cette action sera irréversible et entrainera la supression de tout le contenu de la prestation. Êtes-vous sûr de vouloir supprimer cette prestation?</p>
										</div>
										<div class="modal-footer">
										<button type="button" class="btn btn-success-confirm"><a href="{% url "supprimerPrestationHotel" hotel.id %}">Confirmer</a></button>
										<button type="button" class="btn btn-danger-cancel" data-bs-dismiss="modal">Annuler</button>
										</div>
									</div>
									</div>
								</div>
							</div>
						</div>
						{% endif %}
					{% endfor %}
					<div class="card bg-transparent">
						<!-- Card body START -->
						<div class="card-body pt-4 p-0">
							<div class="row g-4">
								<!-- Activities -->	
									
									<!-- List -->
									{% for prestation in prestations %}
										{% if prestation %}
										
										{% endif %}
										{% if prestation.activites %}
											<div class="col-sm-6">
												<h6><i class="fa-solid fa-biking me-2"></i>Activités</h6>
												<ul class="list-group list-group-borderless mt-2 mb-0">
													{% if prestation.activites.piscine %}
														<li class="list-group-item pb-0">
															<i class="fa-solid fa-check-circle text-success me-2"></i>Piscine
														</li>
													{% endif %}
													{% if prestation.activites.spa %}
														<li class="list-group-item pb-0">
															<i class="fa-solid fa-check-circle text-success me-2"></i>Spa
														</li>
													{% endif %}
													{% if prestation.activites.salle_de_sport %}
														<li class="list-group-item pb-0">
															<i class="fa-solid fa-check-circle text-success me-2"></i>Salle de sport
														</li>
													{% endif %}
													{% if prestation.activites.aire_de_jeux %}
														<li class="list-group-item pb-0">
															<i class="fa-solid fa-check-circle text-success me-2"></i>Aire de jeux
														</li>
													{% endif %}
												</ul>
											</div>
										{% endif %}
									{% endfor %}
									
								
								
	
								<!-- Payment Method -->
								
										{% for prestation in prestations %}
											{% if prestation.methodes_paiement %}
												<div class="col-sm-6">
													<h6><i class="fa-solid fa-credit-card me-2"></i>Méthodes de paiement</h6>
													<ul class="list-group list-group-borderless mt-2 mb-0">
														{% if prestation.methodes_paiement.carte_de_credit %}
															<li class="list-group-item pb-0">
																<i class="fa-solid fa-check-circle text-success me-2"></i>Carte de crédit
															</li>
														{% endif %}
														{% if prestation.methodes_paiement.especes %}
															<li class="list-group-item pb-0">
																<i class="fa-solid fa-check-circle text-success me-2"></i>Espèces
															</li>
														{% endif %}
														{% if prestation.methodes_paiement.carte_de_debit %}
															<li class="list-group-item pb-0">
																<i class="fa-solid fa-check-circle text-success me-2"></i>Carte de débit
															</li>
														{% endif %}
														{% if prestation.methodes_paiement.mobile_money %}
															<li class="list-group-item pb-0">
																<i class="fa-solid fa-check-circle text-success me-2"></i>Mobile money
															</li>
														{% endif %}
													</ul>
												</div>
											{% endif %}
										{% endfor %}
									
	
								<!-- Services -->
								
										{% for prestation in prestations %}
											{% if prestation.services %}
												<div class="col-sm-6">
													<h6><i class="fa-solid fa-concierge-bell me-2"></i>Services</h6>
													<ul class="list-group list-group-borderless mt-2 mb-0">
														{% if prestation.services.nettoyage_a_sec %}
															<li class="list-group-item pb-0">
																<i class="fa-solid fa-check-circle text-success me-2"></i>Nettoyage à sec
															</li>
														{% endif %}
														{% if prestation.services.service_de_chambre %}
															<li class="list-group-item pb-0">
																<i class="fa-solid fa-check-circle text-success me-2"></i>Service de chambre
															</li>
														{% endif %}
														{% if prestation.services.service_special %}
															<li class="list-group-item pb-0">
																<i class="fa-solid fa-check-circle text-success me-2"></i>Service spécial
															</li>
														{% endif %}
														{% if prestation.services.aire_dattente %}
															<li class="list-group-item pb-0">
																<i class="fa-solid fa-check-circle text-success me-2"></i>Aire d'attente
															</li>
														{% endif %}
														{% if prestation.services.concierge %}
															<li class="list-group-item pb-0">
																<i class="fa-solid fa-check-circle text-success me-2"></i>Concierge
															</li>
														{% endif %}
														{% if prestation.services.service_de_repassage %}
															<li class="list-group-item pb-0">
																<i class="fa-solid fa-check-circle text-success me-2"></i>Service de repassage
															</li>
														{% endif %}
														{% if prestation.services.wifi_gratuit %}
															<li class="list-group-item pb-0">
																<i class="fa-solid fa-check-circle text-success me-2"></i>Wi-Fi gratuit
															</li>
														{% endif %}
														{% if prestation.services.ascenseur %}
															<li class="list-group-item pb-0">
																<i class="fa-solid fa-check-circle text-success me-2"></i>Ascenseur
															</li>
														{% endif %}
													</ul>
												</div>
											{% endif %}
										{% endfor %}
									
	
								{% for prestation in prestations %}
									{% if prestation.reception_evenements or prestation.langues_personnel %}
										<div class="col-sm-6">
											{% if prestation.reception_evenements %}
												<h6><i class="bi bi-shield-fill-check me-2"></i>Réception et événements</h6>
												<ul class="list-group list-group-borderless mt-2 mb-4 mb-sm-5">
												
													{% if prestation.reception_evenements.reception_evenements %}
														<li class="list-group-item pb-0">
															<i class="fa-solid fa-check-circle text-success me-2"></i>Réception d'événements
														</li>
													{% endif %}
													{% if prestation.reception_evenements.salle_conference %}
														<li class="list-group-item pb-0">
															<i class="fa-solid fa-check-circle text-success me-2"></i>Salle de conférence
														</li>
													{% endif %}
													{% if prestation.reception_evenements.salle_reunion %}
														<li class="list-group-item pb-0">
															<i class="fa-solid fa-check-circle text-success me-2"></i>Salle de réunion
														</li>
													{% endif %}
													{% if prestation.reception_evenements.equipement_audiovisuel %}
														<li class="list-group-item pb-0">
															<i class="fa-solid fa-check-circle text-success me-2"></i>Équipement audiovisuel
														</li>
													{% endif %}
												</ul>
											{% endif %}

											{% if prestation.langues_personnel %}
											<h6><i class="fa-solid fa-volume-up me-2"></i>Langues du personnel</h6>
											<ul class="list-group list-group-borderless mt-2 mb-0">
												{% if prestation.langues_personnel.anglais %}
													<li class="list-group-item pb-0">
														<i class="fa-solid fa-check-circle text-success me-2"></i>Anglais
													</li>
												{% endif %}
												{% if prestation.langues_personnel.espagnol %}
													<li class="list-group-item pb-0">
														<i class="fa-solid fa-check-circle text-success me-2"></i>Espagnol
													</li>
												{% endif %}
												{% if prestation.langues_personnel.francais %}
													<li class="list-group-item pb-0">
														<i class="fa-solid fa-check-circle text-success me-2"></i>Français
													</li>
												{% endif %}
												{% if prestation.langues_personnel.allemand %}
													<li class="list-group-item pb-0">
														<i class="fa-solid fa-check-circle text-success me-2"></i>Allemand
													</li>
												{% endif %}
											</ul>
											{% endif %}
											
										</div>
									{% endif %}
								{% endfor %}
	
									
										
									
							</div>
						</div>
						<!-- Card body END -->
					</div>
					<!-- Amenities END -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Map modal START -->
<div class="modal fade" id="mapmodal" tabindex="-1" aria-labelledby="mapmodalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-lg">
		<div class="modal-content">
			<!-- Title -->
			<div class="modal-header">
				<h5 class="modal-title" id="mapmodalLabel">View Our Hotel Location</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<!-- Map -->
			<div class="modal-body p-0">
				<iframe class="w-100" height="400" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3022.9663095343008!2d-74.00425878428698!3d40.74076684379132!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c259bf5c1654f3%3A0xc80f9cfce5383d5d!2sGoogle!5e0!3m2!1sen!2sin!4v1586000412513!5m2!1sen!2sin"  style="border:0;" aria-hidden="false" tabindex="0"></iframe>	
			</div>
			<!-- Button -->
			<div class="modal-footer">
				<button type="button" class="btn btn-sm btn-primary mb-0"><i class="bi fa-fw bi-pin-map-fill me-2"></i>View In Google Map</button>
			</div>
		</div>
	</div>
</div>
<!-- Map modal END -->
{% endblock %}