{% extends 'frontend/Users/user-base.html' %}

{% block title %}GoReserve - detail hôtel{% endblock %}

{% block head %}
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
{% endblock %}

{% block content %}
{%load static%}
<!-- =======================
Search START -->
<section class="py-3 py-sm-0">
	<div class="container">
		<div class="" style="text-align: center; margin-top: 40px; margin-bottom : 60px;">
			<h1>Hôtel {{ hotel.nom }}</h1>
		</div>
	</div>
</section>
<!-- =======================
Search END -->
	
<!-- =======================
Main Title START -->
<section class="py-0 pt-sm-5">
	<div class="container position-relative">
		<!-- Title and button START -->
		<div class="row mb-3">
			<div class="col-12">
				<!-- Meta -->
				<div class="d-lg-flex justify-content-lg-between mb-1">
					<!-- Title -->
					<div class="mb-2 mb-lg-0">
						<p class="fw-bold mb-0"><i class="bi bi-geo-alt me-2"></i>{{hotel.adresse}}
							<a href="#" class="ms-2 text-decoration-underline" data-bs-toggle="modal" data-bs-target="#mapmodal">
							</a>
						</p>
					</div>
					<div class="row">
					<!-- Buttons -->
					<ul class="list-inline text-end">
						<!-- Heart icon -->
						<li class="list-inline-item">
							<a href="#" class="btn btn-sm btn-light px-2"><i class="fa-solid fa-fw fa-heart"></i></a>
						</li>
						<!-- Share icon -->
						<li class="list-inline-item dropdown">
							<!-- Share button -->
							<a href="#" class="btn btn-sm btn-light px-2" role="button" id="dropdownShare" data-bs-toggle="dropdown" aria-expanded="false">
								<i class="fa-solid fa-fw fa-share-alt"></i>
							</a>
							<!-- dropdown button -->
							<ul class="dropdown-menu dropdown-menu-end min-w-auto shadow rounded" aria-labelledby="dropdownShare">
								<li><a class="dropdown-item" href="#"><i class="fab fa-twitter-square me-2"></i>Twitter</a></li>
								<li><a class="dropdown-item" href="#"><i class="fab fa-facebook-square me-2"></i>Facebook</a></li>
								<li><a class="dropdown-item" href="#"><i class="fab fa-linkedin me-2"></i>LinkedIn</a></li>
								<li><a class="dropdown-item" href="#"><i class="fa-solid fa-copy me-2"></i>Copy link</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- Title and button END -->

		<!-- Alert box START -->
		<!--<div class="alert alert-danger alert-dismissible d-flex justify-content-between align-items-center fade show mb-4 rounded-3 pe-2" role="alert">
			<div class="d-flex">
				<span class="alert-heading h5 mb-0 me-2"><i class="bi bi-exclamation-octagon-fill"></i></span>
				<span><strong class="alert-heading me-2">Covid Policy:</strong>You may require to present an RT-PCR negative test report at the hotel</span>
			</div>
				<button type="button" class="btn btn-link text-primary-hover pb-0 text-end" data-bs-dismiss="alert" aria-label="Close"><i class="bi bi-x-lg"></i></button>
		</div>-->
		<!-- Alert box END -->
	</div>
</section>
<!-- =======================
Main Title END -->

<!-- =======================
Image gallery START -->
<section class="card-grid pt-0">
	<div class="container">
		<div class="row g-2">
			<!-- Image -->
			{% if photos|length >= 1 %}
				{% with photo=photos.0 %}
				<div class="col-md-6">
				<a data-glightbox="" data-gallery="gallery" href="{% static 'media/' %}{{ photo.image }}" style="height: 200px; width: 300px;">
					<div class="card card-grid-lg card-element-hover card-overlay-hover overflow-hidden" style="background-image:url('{% static 'media/' %}{{ photo.image }}'); background-position: center left; background-size: cover;">
						<!-- Card hover element -->
						<div class="hover-element position-absolute w-100 h-100">
							<i class="bi bi-fullscreen fs-6 text-white position-absolute top-50 start-50 translate-middle bg-dark rounded-1 p-2 lh-1"></i>
						</div>
					</div>
				</a>
			</div>
				{% endwith %}
			{% endif %}
			
			
		<div class="col-md-6">
			<!-- Card item START -->
			<div class="row g-2"> 
				<!-- Image -->
			{% if photos|length >= 2 %}
				{% with photo=photos.1 %}
						<div class="col-12">
							<a data-glightbox data-gallery="gallery" href="{% static 'media/' %}{{ photo.image }}">
								<div class="card card-grid-sm card-element-hover card-overlay-hover overflow-hidden" style="background-image:url('{% static 'media/' %}{{ photo.image }}'); background-position: center left; background-size: cover;">
									<!-- Card hover element -->
									<div class="hover-element position-absolute w-100 h-100">
										<i class="bi bi-fullscreen fs-6 text-white position-absolute top-50 start-50 translate-middle bg-dark rounded-1 p-2 lh-1"></i>
									</div>
								</div>
							</a>		
						</div>
				{% endwith %}
			{% endif %}
					
			{% if photos|length >= 3 %}
				{% with photo=photos.2 %}
					<!-- Image -->
					<div class="col-md-6">
						<a data-glightbox data-gallery="gallery" href="{% static 'media/' %}{{ photo.image }}">
                            <div class="card card-grid-sm card-element-hover card-overlay-hover overflow-hidden" style="background-image:url('{% static 'media/' %}{{ photo.image }}'); background-position: center left; background-size: cover;">
								<!-- Card hover element -->
								<div class="hover-element position-absolute w-100 h-100">
									<i class="bi bi-fullscreen fs-6 text-white position-absolute top-50 start-50 translate-middle bg-dark rounded-1 p-2 lh-1"></i>
								</div>
							</div>
						</a>	
					</div>
				{% endwith %}
			{% endif %}

					<!-- Images -->
					<div class="col-md-6">
						{% if photos|length >= 4 %}
							{% with photo=photos.3 %}
								<div class="card card-grid-sm overflow-hidden" style="background-image:url('{% static 'media/' %}{{ photo.image }}'); background-position: center left; background-size: cover;">
									<!-- Background overlay -->
									<div class="bg-overlay bg-dark opacity-7"></div>

									<!-- Popup Images -->
									<a data-glightbox data-gallery="gallery" href="{% static 'media/' %}{{ photo.image }}" class="stretched-link z-index-9"></a>
									{% if photos|length >= 5 %}
										{% for photo in photos %}
											{% if forloop.counter >= 5 %}
												<a data-glightbox data-gallery="gallery" href="{% static 'media/' %}{{ photo.image }}"></a>
											{% endif %}
										{% endfor %}
									
										<!-- Overlay text -->
										<div class="card-img-overlay d-flex h-100 w-100">
											<h6 class="card-title m-auto fw-light text-decoration-underline"><a href="#" class="text-white">View all</a></h6>
										</div>
									{% endif %}
								</div>
							{% endwith %}
						{% endif %}
					</div>
				</div>
				<!-- Card item END -->
			</div>
		</div>
	</div>
</section>
<!-- =======================
Image gallery END -->

<!-- =======================
About hotel START -->
<section class="pt-0">
	<div class="container" data-sticky-container>

		<div class="row g-4 g-xl-5">
			<!-- Content START -->
			<div class="col-xl-7 order-1">
				<div class="vstack gap-5">

					<!-- About hotel START -->
					<div class="card bg-transparent">
						<!-- Card header -->
						<div class="card-header border-bottom bg-transparent px-0 pt-0">
							<h3 class="mb-0">A Propos De Cet Hôtel</h3>
						</div>

						<!-- Card body START -->
						<div class="card-body pt-4 p-0">
							<p class="mb-6">{{hotel.description}}</b></p>
							<div style="display: flex;">
								<i class="fa-solid fa-city me-2"></i>
								<h6 class="mb-3">Ville : <span style="font-weight: normal; margin-left:10px;" >{{hotel.ville}}</span></h6>
							</div>
							<div style="display: flex;">
								<i class="fa-regular fa-flag me-2"></i>
								<h6 class="mb-3">Pays : <span style="font-weight: normal; margin-left:10px;" >{{hotel.pays}}</span></h6>
							</div>
							<div style="display: flex;">
								<i class="fa-regular fa-star me-2"></i>
								<h6 class="mb-3">Statut : 
									<span style="font-weight: normal; margin-left:10px;" >
										{% if hotel.afficher_etoiles|length > 1 %}
											{% for _ in hotel.afficher_etoiles %}
												<span class="etoile">⭐</span>
											{% endfor %}
										{% else %}
											Aucun
										{% endif %}
									</span>
								</h6>
							</div>
							<div style="display: flex;">
								<i class="fa-solid fa-house me-2"></i>
								<h6 class="mb-3">Nombre de chambres : <span style="font-weight: normal; margin-left:10px;" >{{hotel.nombre_de_chambres}}</span></h6>
							</div>
							<div style="display: flex;">
								<i class="fa-solid fa-phone me-2"></i>
								<h6 class="mb-3">Téléphone : <span style="font-weight: normal; margin-left:10px;" >{{hotel.coordonnees_tel}}</span></h6>
							</div>
							{% if chambre_avec_prix_minimal %}
								<div class="hstack gap-2 mt-4">
									<h5 class="fw-normal mb-0" style="font-size : 22px;">A partir de : <span style="color: rgb(22, 177, 22);font-size:26px;">{{chambre_avec_prix_minimal.tarif_par_nuit}} F CFA</span></h3>
									<span style="font-size: 19px;"> / par nuit</span>
								</div>
							{% endif %}
								<!-- Highlights Icons -->
							<!--<div class="hstack gap-3 mb-3">
								<div class="icon-lg bg-light h5 rounded-2" data-bs-toggle="tooltip" data-bs-placement="top" title="Free wifi">
									<i class="fa-solid fa-wifi"></i>
								</div>
								<div class="icon-lg bg-light h5 rounded-2" data-bs-toggle="tooltip" data-bs-placement="top" title="Swimming Pool">
									<i class="fa-solid fa-swimming-pool"></i>
								</div>
								<div class="icon-lg bg-light h5 rounded-2" data-bs-toggle="tooltip" data-bs-placement="top" title="Central AC">
									<i class="fa-solid fa-snowflake"></i>
								</div>
								<div class="icon-lg bg-light h5 rounded-2" data-bs-toggle="tooltip" data-bs-placement="top" title="Free Service">
									<i class="fa-solid fa-concierge-bell"></i>
								</div>
							</div>-->

							
							<!--<p class="mb-0">Delivered dejection necessary objection do Mr prevailed. Mr feeling does chiefly cordial in do. Water timed folly right aware if oh truth. Large above be to means. Dashwood does provide stronger is.</p>
							
							<div class="collapse" id="collapseContent">
								<p class="mb-0">Behavioral psychology and influence triggers which are crucial for becoming a well rounded Digital Marketer. We understand that theory is important to build a solid foundation, we understand that theory alone isn't going to get the job done so that's why this tickets is packed with practical hands-on examples that you can follow step by step.</p>
							</div>
							<a class="p-0 mb-4 mt-2 btn-more d-flex align-items-center collapsed" data-bs-toggle="collapse" href="#collapseContent" role="button" aria-expanded="false" aria-controls="collapseContent">
								See <span class="see-more ms-1">more</span><span class="see-less ms-1">less</span><i class="fa-solid fa-angle-down ms-2"></i>
							</a>-->

							<!-- List -->
							<!--<h5 class="fw-light mb-2">Advantages</h5>
							<ul class="list-group list-group-borderless mb-0">
								<li class="list-group-item h6 fw-light d-flex mb-0"><i class="bi bi-patch-check-fill text-success me-2"></i>Every hotel staff to have Proper PPT kit for COVID-19</li>
								<li class="list-group-item h6 fw-light d-flex mb-0"><i class="bi bi-patch-check-fill text-success me-2"></i>Every staff member wears face masks and gloves at all service times.</li>
								<li class="list-group-item h6 fw-light d-flex mb-0"><i class="bi bi-patch-check-fill text-success me-2"></i>Hotel staff ensures to maintain social distancing at all times.</li>
								<li class="list-group-item h6 fw-light d-flex mb-0"><i class="bi bi-patch-check-fill text-success me-2"></i>The hotel has In-Room Dining options available </li>
							</ul>-->
						</div>
						<!-- Card body END -->
					</div>
					<!-- About hotel START -->

					<!-- Amenities START -->
					<!-- Card header -->
					{% for prestation in prestations %}
						{% if prestation %}
						<div class="card-header border-bottom bg-transparent px-0 pt-0 d-flex justify-content-between align-items-center mt-6" style="width:889px">
							<h3 class="mb-0">Prestations</h3>
						</div>
						{% endif %}
					{% endfor %}
					<div class="card bg-transparent">
						<!-- Card body START -->
						<div class="card-body pt-4 p-0">
							<div class="row g-4">
								<!-- Activities -->	
									
									<!-- List -->
									{% for prestation in prestations %}
										{% if prestation %}
										
										{% endif %}
										{% if prestation.activites %}
											<div class="col-sm-6">
												<h6><i class="fa-solid fa-biking me-2"></i>Activités</h6>
												<ul class="list-group list-group-borderless mt-2 mb-0">
													{% if prestation.activites.piscine %}
														<li class="list-group-item pb-0">
															<i class="fa-solid fa-check-circle text-success me-2"></i>Piscine
														</li>
													{% endif %}
													{% if prestation.activites.spa %}
														<li class="list-group-item pb-0">
															<i class="fa-solid fa-check-circle text-success me-2"></i>Spa
														</li>
													{% endif %}
													{% if prestation.activites.salle_de_sport %}
														<li class="list-group-item pb-0">
															<i class="fa-solid fa-check-circle text-success me-2"></i>Salle de sport
														</li>
													{% endif %}
													{% if prestation.activites.aire_de_jeux %}
														<li class="list-group-item pb-0">
															<i class="fa-solid fa-check-circle text-success me-2"></i>Aire de jeux
														</li>
													{% endif %}
												</ul>
											</div>
										{% endif %}
									{% endfor %}
									
								
								
	
								<!-- Payment Method -->
								
										{% for prestation in prestations %}
											{% if prestation.methodes_paiement %}
												<div class="col-sm-6">
													<h6><i class="fa-solid fa-credit-card me-2"></i>Méthodes de paiement</h6>
													<ul class="list-group list-group-borderless mt-2 mb-0">
														{% if prestation.methodes_paiement.carte_de_credit %}
															<li class="list-group-item pb-0">
																<i class="fa-solid fa-check-circle text-success me-2"></i>Carte de crédit
															</li>
														{% endif %}
														{% if prestation.methodes_paiement.especes %}
															<li class="list-group-item pb-0">
																<i class="fa-solid fa-check-circle text-success me-2"></i>Espèces
															</li>
														{% endif %}
														{% if prestation.methodes_paiement.carte_de_debit %}
															<li class="list-group-item pb-0">
																<i class="fa-solid fa-check-circle text-success me-2"></i>Carte de débit
															</li>
														{% endif %}
														{% if prestation.methodes_paiement.mobile_money %}
															<li class="list-group-item pb-0">
																<i class="fa-solid fa-check-circle text-success me-2"></i>Mobile money
															</li>
														{% endif %}
													</ul>
												</div>
											{% endif %}
										{% endfor %}
									
	
								<!-- Services -->
								
										{% for prestation in prestations %}
											{% if prestation.services %}
												<div class="col-sm-6">
													<h6><i class="fa-solid fa-concierge-bell me-2"></i>Services</h6>
													<ul class="list-group list-group-borderless mt-2 mb-0">
														{% if prestation.services.nettoyage_a_sec %}
															<li class="list-group-item pb-0">
																<i class="fa-solid fa-check-circle text-success me-2"></i>Nettoyage à sec
															</li>
														{% endif %}
														{% if prestation.services.service_de_chambre %}
															<li class="list-group-item pb-0">
																<i class="fa-solid fa-check-circle text-success me-2"></i>Service de chambre
															</li>
														{% endif %}
														{% if prestation.services.service_special %}
															<li class="list-group-item pb-0">
																<i class="fa-solid fa-check-circle text-success me-2"></i>Service spécial
															</li>
														{% endif %}
														{% if prestation.services.aire_dattente %}
															<li class="list-group-item pb-0">
																<i class="fa-solid fa-check-circle text-success me-2"></i>Aire d'attente
															</li>
														{% endif %}
														{% if prestation.services.concierge %}
															<li class="list-group-item pb-0">
																<i class="fa-solid fa-check-circle text-success me-2"></i>Concierge
															</li>
														{% endif %}
														{% if prestation.services.service_de_repassage %}
															<li class="list-group-item pb-0">
																<i class="fa-solid fa-check-circle text-success me-2"></i>Service de repassage
															</li>
														{% endif %}
														{% if prestation.services.wifi_gratuit %}
															<li class="list-group-item pb-0">
																<i class="fa-solid fa-check-circle text-success me-2"></i>Wi-Fi gratuit
															</li>
														{% endif %}
														{% if prestation.services.ascenseur %}
															<li class="list-group-item pb-0">
																<i class="fa-solid fa-check-circle text-success me-2"></i>Ascenseur
															</li>
														{% endif %}
													</ul>
												</div>
											{% endif %}
										{% endfor %}
									
	
								{% for prestation in prestations %}
									{% if prestation.reception_evenements or prestation.langues_personnel %}
										<div class="col-sm-6">
											{% if prestation.reception_evenements %}
												<h6><i class="bi bi-shield-fill-check me-2"></i>Réception et événements</h6>
												<ul class="list-group list-group-borderless mt-2 mb-4 mb-sm-5">
												
													{% if prestation.reception_evenements.reception_evenements %}
														<li class="list-group-item pb-0">
															<i class="fa-solid fa-check-circle text-success me-2"></i>Réception d'événements
														</li>
													{% endif %}
													{% if prestation.reception_evenements.salle_conference %}
														<li class="list-group-item pb-0">
															<i class="fa-solid fa-check-circle text-success me-2"></i>Salle de conférence
														</li>
													{% endif %}
													{% if prestation.reception_evenements.salle_reunion %}
														<li class="list-group-item pb-0">
															<i class="fa-solid fa-check-circle text-success me-2"></i>Salle de réunion
														</li>
													{% endif %}
													{% if prestation.reception_evenements.equipement_audiovisuel %}
														<li class="list-group-item pb-0">
															<i class="fa-solid fa-check-circle text-success me-2"></i>Équipement audiovisuel
														</li>
													{% endif %}
												</ul>
											{% endif %}

											{% if prestation.langues_personnel %}
											<h6><i class="fa-solid fa-volume-up me-2"></i>Langues du personnel</h6>
											<ul class="list-group list-group-borderless mt-2 mb-0">
												{% if prestation.langues_personnel.anglais %}
													<li class="list-group-item pb-0">
														<i class="fa-solid fa-check-circle text-success me-2"></i>Anglais
													</li>
												{% endif %}
												{% if prestation.langues_personnel.espagnol %}
													<li class="list-group-item pb-0">
														<i class="fa-solid fa-check-circle text-success me-2"></i>Espagnol
													</li>
												{% endif %}
												{% if prestation.langues_personnel.francais %}
													<li class="list-group-item pb-0">
														<i class="fa-solid fa-check-circle text-success me-2"></i>Français
													</li>
												{% endif %}
												{% if prestation.langues_personnel.allemand %}
													<li class="list-group-item pb-0">
														<i class="fa-solid fa-check-circle text-success me-2"></i>Allemand
													</li>
												{% endif %}
											</ul>
											{% endif %}
											
										</div>
									{% endif %}
								{% endfor %}
	
									
										
									
							</div>
						</div>
						<!-- Card body END -->
					</div>
					<!-- Amenities END -->


					<!-- Room START -->
					<div class="card bg-transparent" id="room-options">
						<!-- Card header -->
						<div class="card-header border-bottom bg-transparent px-0 pt-0">
							<div class="d-sm-flex justify-content-sm-between align-items-center">
								<h3 class="mb-2 mb-sm-0">Chambres</h3>
	
								
							</div>
						</div>

						<!-- Card body START -->
						<div class="card-body pt-4 p-0">
							<div class="vstack gap-4">
								{% for chambre in chambres %}
									{% if forloop.counter0 < 2 %}
									<!-- Room item START -->
									<div class="card shadow p-3">
										<div class="row g-4">
											<!-- Card img -->
											<div class="col-md-5 position-relative">
												<!-- Overlay item -->
												<!--<div class="position-absolute top-0 start-0 z-index-1 mt-3 ms-4">
													
												</div>-->

												<!-- Slider START -->
												<div class="tiny-slider arrow-round arrow-xs arrow-dark overflow-hidden rounded-2">
													<div class="tiny-slider-inner" data-autoplay="true" data-arrow="true" data-dots="false" data-items="1">
														<!-- Image items -->
														{% for photo in photosChambre %}
															{% if photo.chambre_id == chambre.id %}
																<div><img src="{% static 'media/' %}{{ photo.image }}" alt="Card image"></div>
															{% endif %}
														{% endfor %}
													</div>
												</div>
												<!-- Slider END -->

												<!-- Button -->
												<a href="#" data-bs-toggle="modal" data-bs-target="#detailModal{{ chambre.id }}"
												class="btn btn-link text-decoration-underline p-0 mb-0 mt-1">
												<i class="bi bi-eye-fill me-1"></i>Voir plus de details</a>
												<div class="modal fade" id="detailModal{{ chambre.id }}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="detailModalLabel{{ chambre.id }}" aria-hidden="true">
													<div class="modal-dialog modal-lg">
														<div class="modal-content">
															<div class="modal-header">
																<h1 class="modal-title fs-5" id="detailModalLabel{{ chambre.id }}">Details de la chambre</h1>
																<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
															</div>
															<div class="modal-body">
																<div class="row g-4">
																	<!-- Card img -->
																	<div class="col-md-5 position-relative">
																		<!-- Overlay item -->
																		<!--<div class="position-absolute top-0 start-0 z-index-1 mt-3 ms-4">
																			<div class="badge text-bg-danger">30% Off</div>
																		</div>-->
												
																		<div class="tiny-slider arrow-round arrow-xs arrow-dark overflow-hidden rounded-2">
																			<div class="tiny-slider-inner" data-autoplay="true" data-arrow="true" data-dots="false" data-items="1">
																				<!-- Image items -->
																				{% for photo in photosChambre %}
																					{% if photo.chambre_id == chambre.id %}
																						<div><img src="{% static 'media/' %}{{ photo.image }}" alt="Card image"></div>
																					{% endif %}
																				{% endfor %}
																			</div>
																		</div>
																		<!-- Carousel END -->
																	</div>
												
																	<!-- Card body -->
																	<div class="col-md-7">
																		<div class="card-body d-flex flex-column h-100 p-0">
																			<!-- Title -->
																			<h1 class="modal-title fs-5" id="detailModalLabel{{ chambre.id }}"><span id="modal-chambre-nom">{{ chambre.nom }}</span></h1>
																			<h5 class="card-title"><span ></span></h5>
												
																			<!-- Amenities -->
																			<ul class="list-group list-group-borderless small mt-2 mb-0">
																				<li class="list-group-item pb-0"><i class="bi bi-building fa-fw me-2"></i>Hôtel : {{chambre.hotel.nom}}</li>
																				<li class="list-group-item pb-0"><i class="fa-solid fa-bed fa-fw me-2"></i>{{chambre.type_de_chambre}}</li>
																				<li class="list-group-item pb-0"><i class="fa-solid fa-stairs me-2"></i>{{chambre.emplacement}} e étage</li>
																				<li class="list-group-item pb-0"><i class="fa-regular fa-clone me-2"></i>Surface : {{chambre.surface}} m2</li>
																				
																				<li class="list-group-item pb-0" id="modal-chambre-vue"></li>
																			</ul>
												
																			<!-- Price and Button -->
																			<p class="mt-3" id="modal-chambre-description">{{ chambre.description }}</p>
																			
																		</div>
																	</div>
																</div>
															</div>
															<div class="modal-footer">
																<!-- Ajoutez d'autres éléments de pied de page ici si nécessaire -->
																<div class="d-sm-flex justify-content-sm-between align-items-center mt-auto">
																	<!-- Button -->
																	<div class="mt-3 mt-sm-0" style="margin-right: 10px;">
																		<a href="{% url 'user-reserverChambre' chambre.id %}" class="btn btn-sm btn-primary mb-0">Réserver</a>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
												
											</div>

											<!-- Card body -->
											<div class="col-md-7">
												<div class="card-body d-flex flex-column p-0 h-100">
													<!-- Title -->
													<h5 class="card-title"><a href="#">{{ chambre.nom }}</a></h5>

													<!-- Amenities -->
													<ul class="list-group list-group-borderless small mt-2 mb-0">
														<!--<li class="list-group-item pb-0">
															<i class="fa-solid fa-building fa-fw me-2"></i>{{chambre.emplacement}} e étage
														</li>-->
														<li class="list-group-item pb-0">
															<i class="bi bi-building fa-fw me-2"></i>Hotel : {{chambre.hotel.nom}}
														</li>
														<li class="list-group-item pb-0">
															<i class="fa-solid fa-bed fa-fw me-2"></i>{{chambre.type_de_chambre}}
														</li>
														
														{% if chambre.vue_sur_mer == 'oui' %}
															<li class="list-group-item pb-0">	
																<i class="fa-solid fa-mountain-sun me-2"></i>Vue sur mer
															</li>
														{% endif %}
														<div class="d-flex align-items-center"><span style="margin-right: 3px;">Tarif par jour :</span>
															<h5 class="fw-bold mb-0 me-1 text-success"> {{ chambre.tarif_par_nuit }} F CFA</h5>
															<span class="mb-0 me-2 text-success">/jour</span>
														</div>
														<div class="d-flex align-items-center"><span style="margin-right: 3px;">Tarif de reservation :</span>
															<h5 class="fw-bold mb-0 me-1 text-success"> {{ chambre.tarif_reservation_par_jour }} F CFA</h5>
															<span class="mb-0 me-2 text-success">/jour</span>
														</div>
													</ul>

													

													<!-- Price and Button -->
													<div class="d-sm-flex justify-content-sm-between align-items-center mt-auto">
														<!-- Price -->
														<!-- Button -->
														<div class="mt-3 mt-sm-0">
															<a href="{% url 'user-reserverChambre' chambre.id %}" class="btn btn-sm btn-primary mb-0 mt-3" style="margin-left: 240px;">Réserver</a>   
														</div>                  
													</div>
												</div>
											</div>
										</div>
									</div>
									<!-- Room item END -->
									{% endif %}
								{% endfor %}
								
								
								
								
	
							</div>
						</div>
						<!-- Card body END -->
					</div>
					<!-- Room END -->

					<!-- Customer Review START -->
					<div class="card bg-transparent">
						<!-- Card header -->
						<div class="card-header border-bottom bg-transparent px-0 pt-0">
							<h3 class="card-title mb-0">Avis client</h3>
						</div>

						<!-- Card body START -->
						<div class="card-body pt-4 p-0">
							<!-- Progress bar and rating START -->
							<div class="card bg-light p-4 mb-4">
								<div class="row g-4 align-items-center">
									<!-- Rating info -->
									<div class="col-md-4">
										<div class="text-center">
											<!-- Info -->
											<h2 class="mb-0">4.5</h2>
											<p class="mb-2">Basé sur 120 avis</p>
											<!-- Star -->
											<ul class="list-inline mb-0">
												<li class="list-inline-item me-0"><i class="fa-solid fa-star text-warning"></i></li>
												<li class="list-inline-item me-0"><i class="fa-solid fa-star text-warning"></i></li>
												<li class="list-inline-item me-0"><i class="fa-solid fa-star text-warning"></i></li>
												<li class="list-inline-item me-0"><i class="fa-solid fa-star text-warning"></i></li>
												<li class="list-inline-item me-0"><i class="fa-solid fa-star-half-alt text-warning"></i></li>
											</ul>
										</div>
									</div>

									<!-- Progress-bar START -->
									<div class="col-md-8">
										<div class="card-body p-0">
											<div class="row gx-3 g-2 align-items-center">
												<!-- Progress bar and Rating -->
												<div class="col-9 col-sm-10">
													<!-- Progress item -->
													<div class="progress progress-sm bg-warning bg-opacity-15">
														<div class="progress-bar bg-warning" role="progressbar" style="width: 95%" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">
														</div>
													</div>
												</div>
												<!-- Percentage -->
												<div class="col-3 col-sm-2 text-end">
													<span class="h6 fw-light mb-0">85%</span>
												</div>

												<!-- Progress bar and Rating -->
												<div class="col-9 col-sm-10">
													<!-- Progress item -->
													<div class="progress progress-sm bg-warning bg-opacity-15">
														<div class="progress-bar bg-warning" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
														</div>
													</div>
												</div>
												<!-- Percentage -->
												<div class="col-3 col-sm-2 text-end">
													<span class="h6 fw-light mb-0">75%</span>
												</div>

												<!-- Progress bar and Rating -->
												<div class="col-9 col-sm-10">
													<!-- Progress item -->
													<div class="progress progress-sm bg-warning bg-opacity-15">
														<div class="progress-bar bg-warning" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
														</div>
													</div>
												</div>
												<!-- Percentage -->
												<div class="col-3 col-sm-2 text-end">
													<span class="h6 fw-light mb-0">60%</span>
												</div>

												<!-- Progress bar and Rating -->
												<div class="col-9 col-sm-10">
													<!-- Progress item -->
													<div class="progress progress-sm bg-warning bg-opacity-15">
														<div class="progress-bar bg-warning" role="progressbar" style="width: 35%" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100">
														</div>
													</div>
												</div>
												<!-- Percentage -->
												<div class="col-3 col-sm-2 text-end">
													<span class="h6 fw-light mb-0">35%</span>
												</div>

												<!-- Progress bar and Rating -->
												<div class="col-9 col-sm-10">
													<!-- Progress item -->
													<div class="progress progress-sm bg-warning bg-opacity-15">
														<div class="progress-bar bg-warning" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
														</div>
													</div>
												</div>
												<!-- Percentage -->
												<div class="col-3 col-sm-2 text-end">
													<span class="h6 fw-light mb-0">15%</span>
												</div>
											</div> <!-- Row END -->
										</div>
									</div>
									<!-- Progress-bar END -->

								</div>
							</div>
							<!-- Progress bar and rating END -->

							<!-- Leave review START -->
							<form class="mb-5">
								<!-- Rating -->
								<div class="form-control-bg-light mb-3">
									<select class="form-select js-choice">
										<option selected="">★★★★★ (5/5)</option>
										<option>★★★★☆ (4/5)</option>
										<option>★★★☆☆ (3/5)</option>
										<option>★★☆☆☆ (2/5)</option>
										<option>★☆☆☆☆ (1/5)</option>
									</select>
								</div>
								<!-- Message -->
								<div class="form-control-bg-light mb-3">
									<textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Votre avis" rows="3"></textarea>
								</div> 
								<!-- Button -->
								<button type="submit" class="btn btn-lg btn-primary mb-0">Poster <i class="bi fa-fw bi-arrow-right ms-2"></i></button>
							</form>
							<!-- Leave review END -->

							<!-- Review item START -->
							<div class="d-md-flex my-4">
								<!-- Avatar -->
								<div class="avatar avatar-lg me-3 flex-shrink-0">
									<img class="avatar-img rounded-circle" src="{% static 'assets/images/avatar/09.jpg' %}" alt="avatar">
								</div>
								<!-- Text -->
								<div>
									<div class="d-flex justify-content-between mt-1 mt-md-0">
										<div>
											<h6 class="me-3 mb-0">Jacqueline Miller</h6>
											<!-- Info -->
											<ul class="nav nav-divider small mb-2">
												<li class="nav-item">Séjour du 13 nov. 2022</li>
												<li class="nav-item">4 avis rédigés</li>
											</ul>
										</div>
										<!-- Review star -->
										<div class="icon-md rounded text-bg-warning fs-6">4.5</div>
									</div>
									
									<p class="mb-2">Beau rencontré en débattant sur le matériel de monsieur en âge de vivre. À mesure que le style vivait, il séchait pire. Offert en relation afin que les visiteurs que nous avons supprimés en privé. Modéré faire des sujets à distance.</p>
									
									<!-- Images -->
									<div class="row g-4">
										<div class="col-4 col-sm-3 col-lg-2">
											<img src="{% static 'assets/images/category/hotel/4by3/07.jpg' %}" class="rounded" alt="">
										</div>
										<div class="col-4 col-sm-3 col-lg-2">
											<img src="{% static 'assets/images/category/hotel/4by3/08.jpg' %}" class="rounded" alt="">
										</div>
										<div class="col-4 col-sm-3 col-lg-2">
											<img src="{% static 'assets/images/category/hotel/4by3/05.jpg' %}" class="rounded" alt="">
										</div>
									</div>
								</div>
							</div>

							<!-- Child review START -->
							<div class="my-4 ps-2 ps-md-3">
								<div class="d-md-flex p-3 bg-light rounded-3">
									<img class="avatar avatar-sm rounded-circle me-3" src="{% static 'assets/images/avatar/02.jpg' %}" alt="avatar">
									<div class="mt-2 mt-md-0">
										<h6 class="mb-1">Manager</h6>
										<p class="mb-0">
											Mais la discrétion, souvent monsieur, elle instrumente l'admiration sans réserve pour tout. </p>
									</div>
								</div>
							</div>
							<!-- Child review END -->

							<!-- Divider -->
							<hr>
							<!-- Review item END -->

							<!-- Review item START -->
							<div class="d-md-flex my-4">
								<!-- Avatar -->
								<div class="avatar avatar-lg me-3 flex-shrink-0">
									<img class="avatar-img rounded-circle" src="{% static 'assets/images/avatar/08.jpg' %}" alt="avatar">
								</div>
								<!-- Text -->
								<div>
									<div class="d-flex justify-content-between mt-1 mt-md-0">
										<div>
											<h6 class="me-3 mb-0">Dennis Barrett</h6>
											<!-- Info -->
											<ul class="nav nav-divider small mb-2">
												<li class="nav-item">Séjour du 02 nov. 2022</li>
												<li class="nav-item">2 avis rédigés</li>
											</ul>
										</div>
										<!-- Review star -->
										<div class="icon-md rounded text-bg-warning fs-6">4.0</div>
									</div>
									
									<p class="mb-0">L'objection nécessaire au découragement prononcé est-ce que M. a prévalu. M. le sentiment est principalement cordial. L'eau a chronométré la folie, bien consciente si oh la vérité. Grand au-dessus des moyens. Dashwood fournit un produit plus fort.</p>
								</div>
							</div>

							<!-- Divider -->
							<hr>
							<!-- Review item END -->

							<!-- Button -->
							<div class="text-center">
								<a href="#" class="btn btn-primary-soft mb-0">Voir plus</a>
							</div>
						</div>
						<!-- Card body END -->
					</div>
					<!-- Customer Review END -->

					
				</div>	
			</div>
			<!-- Content END -->

			<!-- Right side content START -->
			<aside class="col-xl-5 order-xl-2">
				<div data-sticky data-margin-top="100" data-sticky-for="1199">
					<!-- Book now START -->
					<div class="card card-body border">
						
						<!-- Title -->
						<div class="d-sm-flex justify-content-sm-between align-items-center mb-3">
							<div>
								<h5 class="card-title mb-4">Découvrer le reste des chambres</h5>
							</div>
						</div>		

						<!-- Rating 
						<ul class="list-inline mb-2">
							<li class="list-inline-item me-1 h6 fw-light mb-0"><i class="bi bi-arrow-right me-2"></i>4.5</li>
							<li class="list-inline-item me-0 small"><i class="fa-solid fa-star text-warning"></i></li>
							<li class="list-inline-item me-0 small"><i class="fa-solid fa-star text-warning"></i></li>
							<li class="list-inline-item me-0 small"><i class="fa-solid fa-star text-warning"></i></li>
							<li class="list-inline-item me-0 small"><i class="fa-solid fa-star text-warning"></i></li>
							<li class="list-inline-item me-0 small"><i class="fa-solid fa-star-half-alt text-warning"></i></li>
						</ul>

						<p class="h6 fw-light mb-4"><i class="bi bi-arrow-right me-2"></i>Free breakfast available</p>
						-->
						<!-- Button -->
						<div class="d-grid">
							<a href="#room-options" class="btn btn-lg btn-primary-soft mb-0">Voir les options de chambres</a>
						</div>
					</div>
					<!-- Book now END -->

					<!-- Best deal START 
					<div class="mt-4 d-none d-xl-block">
						<h4>Today's Best Deal</h4>

						<div class="card shadow rounded-3 overflow-hidden">
							<div class="row g-0 align-items-center">
								
								<div class="col-sm-6 col-md-12 col-lg-6">
									<img src="assets/images/offer/04.jpg" class="card-img rounded-0" alt="">
								</div>

								
								<div class="col-sm-6 col-md-12 col-lg-6">
									<div class="card-body p-3">
										<h6 class="card-title"><a href="offer-detail.html" class="stretched-link">Travel Plan</a></h6>
										<p class="mb-0">Get up to $10,000 for lifetime limits</p>
									</div>
								</div>
							</div>
						</div>
					</div> -->
					<!-- Best deal END -->
				</div>	
			</aside>
			<!-- Right side content END -->
		</div> <!-- Row END -->
	</div>
</section>
<script>

</script>
			
{% endblock %}